.comment{
    width: 100%;

    &-container{
        display: flex;
        flex-wrap: wrap;
        .user-image {
            width: 10%
        }
        .comment-body{
            width: 90%;
            padding: 10px;
            .username{
                color: #5ab995;
                font-weight: bold;
                margin-right: 15px;
            }
        }
    }
}