.feed-entry-box{
    background: #fff;
    border: 1px solid #dadada;
    &-body {
        border-bottom: 1px solid #dadada;
        padding: 15px;
        input{
            border: 0;
            width: 100%;
            max-width: 100%;
            resize: none;
            height: auto;
            padding: 10px 0px;
            font-size: 1rem;
            color: #5ab995;

            &::placeholder {
                color: #5ab995;
            }
        }
    }

    &-footer{
        padding: 10px;
        text-align: right;
        button{
            padding: 10px 25px;
            font-size: 1rem;
            background: #5ab995;
            border: 0;
            color: #fff;
            border-radius: 5px
        }
    }
}